@font-face {
  font-family: "OPTIVenus-BoldExtended";
  src: url("OPTIVenus-BoldExtended.otf");
  font-style: bold;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("CenturyGothic.ttf");
}

html {
  background: url(portfoliobackground.png);
}

body {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

a {
  color: #f2eee9;
  text-decoration: none;
}

a:visited {
  color: #f2eee9;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  width: 100%;
  z-index: 2;
}

header img {
  height: 100px;
  width: auto;
}

.navbar li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 60vw;
  font-size: 12pt;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
  font-family: "OPTIVenus-BoldExtended";
  font-size: 18pt;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

section p {
  font-family: "CenturyGothic";
  font-size: 14pt;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  text-align: center;
  margin: 0px;
  font-size: 100;
  line-height: 20pt;
}

#next-page {
  font-family: "OPTIVenus-BoldExtended";
  font-size: 16pt;
  background-color: rgb(20, 19, 19);
  border: 1px solid rgb(20, 19, 19);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f2eee9;
  position: absolute;
  bottom: 20vh;
}

#home {
  opacity: 1;
}
#about-me {
  opacity: 0.4;
}
#portfolio {
  opacity: 0.4;
}
#contact {
  opacity: 0.4;
}
@media (max-width: 960px) {
  html {
    height: 100%;
  }
  section {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  section h1 {
    width: 80%;
  }

  section p {
    font-size: 14pt;
    width: 350px;
    line-height: 20pt;
  }
}

@media (max-width: 800px) {
  .checkbtn {
    display: block;
  }

  ul a {
    display: none;
    opacity: animation;
  }
  ul {
    position: fixed;
    width: 800px;
    height: 0;
    background: #f2eee9;
    top: 140px;
    left: 0;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul li {
    display: flex;
    margin: 0px 0;
    line-height: 45px;
    width: 800px;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14pt;
    transition: display 1s ease-out;
  }
  #check:checked ~ ul {
    height: 5vh;
    width: 800px;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(20, 19, 19);
  }

  #check:checked ~ ul a {
    display: flex;
    animation: fadeIn 1s;
    justify-content: space-between;
    color: rgb(20, 19, 19);
  }

  .navbar {
    width: 800px;
  }
}

@media (max-width: 650px) {
  nav ul li a {
    line-height: 40px;
    font-size: 9pt;
  }
}

@media (max-width: 520px) {
  .navbar ul {
    padding-left: 10%;
    padding-right: 10%;
    width: 90%;
  }

  nav ul li a {
    line-height: 40px;
    font-size: 7pt;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
