@font-face {
  font-family: CaviarDreams;
  src: url(CaviarDreams.ttf);
}

@font-face {
  font-family: CaviarDreams_Bold;
  src: url(CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: agright;
  src: url(agright-regular.ttf);
}

@font-face {
  font-family: ITCAvantGardeStd-Bold;
  src: url(ITCAvantGardeStd-Bold.otf);
}

@font-face {
  font-family: ITCAvantGardeStd-Bk;
  src: url(ITCAvantGardeStd-Bk.otf);
}

@font-face {
  font-family: ITCAvantGardeStd-Md;
  src: url(ITCAvantGardeStd-Md.otf);
}

html {
  background-color: #c53b54;
  margin: 0px;
  padding: 0px;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

#logobackground {
  margin-top: 0px;
  margin-left: 40px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#logo {
  width: 100px;
  height: auto;
  margin: 20px;
  margin-left: 40px;
}

#log-in-and-menu {
  font-size: 14pt;
  margin-left: 100px;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu {
  margin-top: 0px;
  padding-top: 0px;
  padding: 10px;
  font-family: CaviarDreams_Bold;
  display: flex;
  justify-content: flex-end;
  transform: translateY(0px);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

#logIn {
  margin-top: 0px;
  padding: 10px;
  font-family: CaviarDreams;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 200px;
  margin-right: 2%;
  transform: translateY(0px);
  transition: transform 250ms ease-in-out;
}

#new-book {
  font-family: CaviarDreams;
  font-size: 14pt;
  margin-left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  transition: transform 50ms;
}

#new-book:hover {
  color: black;
  cursor: pointer;
  transform: scale(1.2);
}

#album-name {
  font-family: CaviarDreams;
  font-size: 36pt;
  display: flex;
  justify-content: center;
  margin: 100px;
  margin-bottom: 50px;
  color: white;
  cursor: alias;
}

#logIn:hover {
  transform: translateY(5px);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

/*books*/

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  gap: 4vw;
}

.books1 {
  height: 400px;
  width: 340px;
  background-color: white;
  margin: 20px;
  box-shadow: 40px 40px 40px #aa8333;
}

.books1body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  font-family: CaviarDreams;
}

.title-author {
  font-family: agright;
  font-size: 14pt;
}

.dotsdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  padding-top: 0;
  margin-top: 0;
  font-size: 14pt;
  height: 30px;
}

.dots {
  height: 5px;
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  width: 200px;
}

.bar p {
  display: grid;
  place-items: center;
  color: white;
}

.black-bar {
  background-color: grey;
  height: 50px;
  width: 82px;
}

#books2 {
  height: 400px;
  width: 400px;
  background-color: white;
  margin: 40px;
}

.bar:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  width: 200px;
  transform: translateY(-20);
  transition: transform 50ms;
  cursor: pointer;
}

.bar p:hover {
  color: #fdc961;
  cursor: pointer;
}

.dots:hover {
  height: 5px;
  cursor: pointer;
}

.dropdown {
  list-style: none;
  text-decoration: none;
  width: 200px;
  color: white;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  gap: 20px;
}

#menuDropdown:hover {
  padding-top: -20px;
  padding: 10px;
  color: white;
  background-color: rgb(31, 31, 31);
  height: 50px;
  width: 200px;
  font-family: CaviarDreams_Bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  right: 270px;
  transform: translateY(5px);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

#adding-new-book {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 20px;
  font-family: CaviarDreams;
  font-size: 18pt;
  animation: popup 0.3s;
}
#blurr {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#bookTitle {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  width: 90%;
}

#bookAuthor {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#bookTitle input {
  border: 0.5px solid black;
  border-radius: 0px;
  height: 35px;
  width: 300px;
  font-size: 14pt;
}

#bookAuthor input {
  border: 0.5px solid black;
  border-radius: 0px;
  height: 35px;
  width: 300px;
  font-size: 14pt;
}

#bookPages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#bookPages input {
  border: 0.5px solid black;
  border-radius: 0px;
  width: 60px;
  height: 35px;
  font-size: 14pt;
}

.x1 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 100px;
  height: 24px;
  width: 4px;
  background-color: white;
  transform: rotate(45deg);
}

.x2 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 200px;
  height: 24px;
  width: 4px;
  background-color: white;
  transform: rotate(-45deg);
}

.x {
  position: absolute;
  margin-right: 370px;
  margin-bottom: 390px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.check {
  cursor: pointer;
}

.check1 {
  position: absolute;
  margin-left: 190px;
  margin-top: -12px;
  height: 20px;
  width: 4px;
  background-color: white;
  transform: rotate(40deg);
}

.check2 {
  position: absolute;
  margin-left: 182px;
  margin-top: -3px;
  height: 10px;
  width: 4px;
  background-color: white;
  transform: rotate(-45deg);
}

#pagesRead {
  display: none;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 300px;
  background-color: white;
  padding: 20px;
  font-family: CaviarDreams;
}

.pagesReadx1 {
  position: absolute;
  margin-right: 300px;
  margin-bottom: 300px;
  height: 12px;
  width: 2px;
  background-color: black;
  transform: rotate(45deg);
}

.pagesReadx2 {
  position: absolute;
  margin-right: 300px;
  margin-bottom: 300px;
  height: 12px;
  width: 2px;
  background-color: black;
  transform: rotate(-45deg);
}

.pagesReadx {
  position: absolute;
  margin-right: 290px;
  margin-bottom: 100px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.pagesReadCheck {
  cursor: pointer;
  position: absolute;
  margin-right: -15px;
  margin-bottom: 65px;
  height: 15px;
  width: 15px;
}

.pagesReadCheck1 {
  position: absolute;
  margin-left: 150px;
  margin-top: -17px;
  height: 12px;
  width: 2px;
  background-color: black;
  transform: rotate(40deg);
}

.pagesReadCheck2 {
  position: absolute;
  margin-left: 145px;
  margin-top: -12px;
  height: 6px;
  width: 2px;
  background-color: black;
  transform: rotate(-45deg);
}

#pagesReadquestion input {
  height: 25px;
  width: 50px;
}

#pagesReadquestion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 300px;
  margin-top: 20px;
}

#removeBook {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 400px;
  background-color: rgb(31, 31, 31);
  padding: 20px;
  font-family: CaviarDreams;
  color: white;
  cursor: pointer;
  font-size: 21pt;
}

#removeBook p {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#yesOrNo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 150px;
}

#yes:hover {
  color: green;
}

#no:hover {
  color: red;
}

#edit-box {
  display: none;
  background: rgb(31, 31, 31);
  height: 400px;
  width: 400px;
  font-family: CaviarDreams;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-direction: column;
}

#edit-box h2 {
  margin-top: 20px;
  font-size: 14pt;
}

#edit-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25%;
  align-items: center;
  height: 45%;
  width: 100%;
  font-size: 11pt;
}

.x3 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 100px;
  height: 24px;
  width: 4px;
  background-color: white;
  transform: rotate(45deg);
}

.x4 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 100px;
  height: 24px;
  width: 4px;
  background-color: white;
  transform: rotate(-45deg);
}

.check34 {
  cursor: pointer;
  position: absolute;
  margin-right: -15px;
  margin-bottom: 95px;
  height: 45px;
  width: 45px;
  display: none;
}

.check3 {
  position: absolute;
  margin-left: 185px;
  margin-top: 18px;
  height: 20px;
  width: 4px;
  background-color: white;
  transform: rotate(40deg);
}

.check4 {
  position: absolute;
  margin-left: 176px;
  margin-top: 26px;
  height: 10px;
  width: 4px;
  background-color: white;
  transform: rotate(-45deg);
}

.x34 {
  display: none;
  position: absolute;
  margin-right: 320px;
  margin-top: 15px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#change-color {
  display: flex;
  align-items: center;
}
#edit {
  transition: transform 50ms;
  z-index: 20000;
}
#edit:hover {
  transform: scale(1.2);
}

#change-album {
  transition: transform 50ms;
}
#change-album:hover {
  transform: scale(1.1);
}

.bookDiv{
  background-color: white;
  width:340px;
  height:400px;
}
.authorInput{
  font-size:18pt;
}

.titleInput{
  font-size: 16pt;
}

.pagesInput{
  font-size:16pt;
}
.read{
  top: 190px;
}
@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes popout {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@media(max-width:1250px){
  html{
    height:100%;
    width:100%;
  }

  body{
    height:100%;
    width:100%;
    margin:0;
}
}

@media(max-width:900px){
  html{
    height:100%;
    width:100%;
  }

  body{
    height:100%;
    width:100%;
    margin:0;
}
}

@media(max-width:900px){

#album-name {
  font-size: 28pt;

  margin: 50px;
  margin-bottom: 50px;
}


#menuDropdown:hover {
  right: 230px;
}

}

@media(max-width:860px){
  .books{
    justify-content: center;
  }
}

@media(max-width:600px){


  #removeBook{
    width:300px;
    font-size:18pt;
  }

  #album-name {
    font-family: CaviarDreams;
    font-size: 18pt;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 50px;
    color: white;
    cursor: alias;
  }

  #logo{
    margin:0px;
  }

  #log-in-and-menu {
    font-size: 11pt;
  }


  #login{
    width:100px;
  }

  #menuDropdown:hover {
    right: 230px;
  }
}

@media(max-width:520px){
  

  #top{
    height:100px;
  }

  #logo{
    height:60px;
    width:60px;
  }

  #logIn{
    font-size:10pt;
    width:160px;
  }


#menuDropdown:hover {
  right: 190px;
}

#log-in-and-menu {
  margin-left: 60px;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#adding-new-book {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 20px;
  font-family: CaviarDreams;
  font-size: 14pt;
  animation: popup 0.3s;
}


.x1 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 100px;
  height: 24px;
  width: 4px;
  background-color: white;
  transform: rotate(45deg);
}

.x2 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 200px;
  height: 24px;
  width: 4px;
  background-color: white;
  transform: rotate(-45deg);
}

.x {
  position: absolute;
  margin-right: 290px;
  margin-bottom: 300px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.check {
  cursor: pointer;
}

.check1 {
  position: absolute;
  margin-left: 150px;
  margin-top: -12px;
  height: 20px;
  width: 4px;
  background-color: white;
  transform: rotate(40deg);
}

.check2 {
  position: absolute;
  margin-left: 142px;
  margin-top: -3px;
  height: 10px;
  width: 4px;
  background-color: white;
  transform: rotate(-45deg);
}

#edit-box {
  display: none;
  background: rgb(31, 31, 31);
  height: 250px;
  width: 250px;
  font-family: CaviarDreams;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-direction: column;
}

#edit-box h2 {
  margin-top: 10px;
  font-size: 11pt;
}

#edit-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25%;
  align-items: center;
  height: 45%;
  width: 100%;
  font-size: 7pt;
}


.x3 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 100px;
  height: 12px;
  width: 2px;
  background-color: white;
  transform: rotate(45deg);
}

.x4 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 100px;
  height: 12px;
  width: 2px;
  background-color: white;
  transform: rotate(-45deg);
}

.check34 {
  cursor: pointer;
  position: absolute;
  margin-right: -15px;
  margin-bottom: 95px;
  height: 10px;
  width: 10px;
  display: none;
}

.check3 {
  position: absolute;
  margin-left: 105px;
  margin-top: 10px;
  height: 10px;
  width: 2px;
  background-color: white;
  transform: rotate(40deg);
}

.check4 {
  position: absolute;
  margin-left: 100px;
  margin-top: 15px;
  height: 5px;
  width: 2px;
  background-color: white;
  transform: rotate(-45deg);
}

.x34 {
  display: none;
  position: absolute;
  margin-right: 210px;
  margin-top: 10px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

#change-color {
  display: flex;
  align-items: center;
  font-size:11pt;
}

#change-title{
  font-size:11pt;
}


}

@media(max-width:440px){

  #logo{
    height:60px;
    width:60px;
  }

  #logIn{
    font-size:9pt;
    width:120px;
  }
  

#menuDropdown:hover {
  right: 150px;
}
#log-in-and-menu {
  margin-left: 50px;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size:9pt;
}

.dropdown {
  width: 140px;
}

#menuDropdown:hover {
  width: 140px;
}

#menu{
  margin-bottom:0px;
}



.x1 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 100px;
  height: 24px;
  width: 4px;
  background-color: white;
  transform: rotate(45deg);
}

.x2 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 200px;
  height: 24px;
  width: 4px;
  background-color: white;
  transform: rotate(-45deg);
}

.x {
  position: absolute;
  margin-right: 230px;
  margin-bottom: 240px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.check {
  cursor: pointer;
}

.check1 {
  position: absolute;
  margin-left: 120px;
  margin-top: -12px;
  height: 20px;
  width: 4px;
  background-color: white;
  transform: rotate(40deg);
}

.check2 {
  position: absolute;
  margin-left: 112px;
  margin-top: -3px;
  height: 10px;
  width: 4px;
  background-color: white;
  transform: rotate(-45deg);
}



#adding-new-book {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 250px;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 20px;
  font-family: CaviarDreams;
  font-size: 11pt;
  animation: popup 0.3s;
}

#bookTitle input {
  border: 0.5px solid black;
  border-radius: 0px;
  height: 35px;
  width: 250px;
  font-size: 14pt;
}

#bookAuthor input {
  border: 0.5px solid black;
  border-radius: 0px;
  height: 35px;
  width: 250px;
  font-size: 14pt;
}

#bookPages input {
  border: 0.5px solid black;
  border-radius: 0px;
  width: 60px;
  height: 25px;
  font-size: 14pt;
}


#new-book {
  font-family: CaviarDreams;
  font-size: 11pt;
  margin-left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  transition: transform 50ms;
}

.titleInput{
  font-size: 14pt;
}

.authorInput{
  font-size:14pt;
}

.pagesInput{
  font-size:12pt;
}
.bookDiv{
  height:350px;
  width:300px;
}
.read{
  top: 145px;
}

#removeBook{
  width:260px;
  height:280px;
  font-size:14pt;
}

}

@media(max-width:350px){

  #removeBook{
    width:200px;
    height:220px;
    font-size:12pt;
  }

  .read{
    top: 90px;
  }

  .titleInput{
    font-size: 12pt;
  }
  
  .authorInput{
    font-size:11pt;
  }

  .bookDiv{
    width:280px;
    height:300px;
  }

  #logo{
    height:40px;
    width:40px;
  }

  #logIn{
    font-size:7pt;
    width:80px;
  }
  

#menuDropdown:hover {
  right: 110px;
}
#log-in-and-menu {
  margin-left: 50px;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size:7pt;
}

.dropdown {
  width: 140px;
}

#menuDropdown:hover {
  width: 140px;
}

#album-name {
  font-size: 18pt;
  margin: 50px;
  margin-bottom: 50px;
}




.x1 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 100px;
  height: 12px;
  width: 2px;
  background-color: white;
  transform: rotate(45deg);
}

.x2 {
  position: absolute;
  margin-right: 350px;
  margin-bottom: 200px;
  height: 12px;
  width: 2px;
  background-color: white;
  transform: rotate(-45deg);
}

.x {
  position: absolute;
  margin-right: 200px;
  margin-bottom: 210px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.check {
  cursor: pointer;
}

.check1 {
  position: absolute;
  margin-left: 108px;
  margin-top: -7px;
  height: 10px;
  width: 2px;
  background-color: white;
  transform: rotate(40deg);
}

.check2 {
  position: absolute;
  margin-left: 103px;
  margin-top: -2px;
  height: 5px;
  width: 2px;
  background-color: white;
  transform: rotate(-45deg);
}



#adding-new-book {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 210px;
  width: 210px;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 20px;
  font-family: CaviarDreams;
  font-size: 11pt;
  animation: popup 0.3s;
}

#bookTitle input {
  border: 0.5px solid black;
  border-radius: 0px;
  height: 30px;
  width: 210px;
  font-size: 14pt;
}

#bookAuthor input {
  border: 0.5px solid black;
  border-radius: 0px;
  height: 30px;
  width: 210px;
  font-size: 14pt;
}



}
