@font-face {
  font-family: "lemon white";
  src: url("LEMONMILK-Bold.otf");
  font-style: bold;
}

@font-face {
  font-family: "caviar dreams";
  src: url("CaviarDreams.ttf");
  font-style: regular;
}

@font-face {
  font-family: "caviar dreams bold";
  src: url("CaviarDreams_Bold.ttf");
  font-style: regular;
}

@font-face {
  font-family: "montserrat-thin";
  src: url("Montserrat-VariableFont_wght.ttf");
  font-style: thin;
  font-weight: 100;
}

@font-face {
  font-family: "oswald";
  src: url("Oswald-VariableFont_wght.ttf");
  font-style: thin;
  font-weight: 100;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  background: #fdefe6;
}
a:visited {
  text-decoration: none;
  list-style: none;
  color: white;
}

:root {
  --bg-color: #ffffff;
  --text-color: #0f172a;
  --main-color: #6b7280;
  --other-color: #334155;
  --big-font: 4.3rem;
  --h2-font: 2.2rem;
  --p-font: 1rem;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  right: 0;
  top: 0;
  width: 100%;
  padding: 17px 11%;
  transition: all 0.45s ease;
  height: 250px;
  background-color: #399fb9;
}

header h2 {
  font-family: "lemon white";
  position: absolute;
  left: 180px;
  top: 80px;
  font-size: 60px;
  color: white;
}

.logo img {
  width: 100px;
  height: auto;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "caviar dreams bold";
  width: 250px;
}

.icons i {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  transition: all 0.45s ease;
  font-family: "caviar dreams bold";
}

.icons h1 {
  font-size: 19px;
  color: white;
}
.icons i:hover {
  transform: scale(0.9);
  background-color: white;
  color: #399fb9;
  font-family: "caviar dreams bold";
}

section {
  padding: 100px 11% 90px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

#pages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "caviar dreams";
  font-size: 14px;
  margin-top: 100px;
  font-weight: 100;
  margin-bottom: 50px;
}

#previous:hover {
  cursor: pointer;
}

#next:hover {
  cursor: pointer;
}

#best-selling-mugs h2 {
  font-family: "lemon white";
  color: #399fb9;
}

#best-selling-mugs {
  height: 1750px;
}

.mug {
  background-color: white;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  transition: all 0.45s ease;
}

.mug:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.mug h1 {
  margin-top: 20px;
  font-family: "lemon white";
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.mug p {
  margin-top: 5px;
  font-family: "caviar dreams";
  font-size: 1rem;
  height: 4rem;
  margin-left: 5%;
  margin-right: 5%;
}

.mug img {
  display: flex;
  justify-content: center;
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.price-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin-top: 10px;
  gap: 0.1rem;
  margin-left: 5%;
  margin-right: 5%;
}

.ri-star-fill {
  width: 20px;
  height: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ri-star-fill::before {
  width: auto;
  height: 100%;
  color: #ee737d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.price-stars h3 {
  font-family: "lemon white";
  font-size: 18px;
  border: 3px solid #ee737d;
  border-radius: 5%;
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ee737d;
}

footer {
  width: 100%;
  height: 500px;
  background-color: #3c3755;
  padding: 100px 11% 90px;
}

#footer-div {
  background-color: #3c3755;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

#colorlib {
  font-family: "caviar dreams";
  color: white;
  width: 28%;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 180px;
  font-family: "caviar dreams";
  color: white;
}

.footer-row3 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  font-family: "caviar dreams";
  color: white;
}

#colorlib h1 {
  margin-bottom: 25px;
}

#contact-us-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#social-media {
  height: 50px;
  width: 150px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#social-media a img {
  height: 25px;
  width: auto;
}

footer h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "caviar dreams";
  color: white;
  margin-top: 20px;
  font-weight: 100;
}

#contact-us-btn {
  background-color: #ee737d;
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  background: var(--text-color);
  color: var(--bg-color);
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 30px;
  transition: all 0.45s ease;
  margin: 25px 0 20px;
  font-family: "lemon white";
}

.btn:hover {
  letter-spacing: 2px;
  opacity: o.8;
}

#mugs {
  margin-top: 0px;
  background: #fdefe6;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

@media (max-width: 1380px) {
  #best-selling-mugs {
    height: 1650px;
  }
  header h2 {
    font-family: "lemon white";
    position: absolute;
    left: 120px;
    top: 80px;
    font-size: 48px;
    color: white;
  }
  .mug {
    background-color: white;
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .mug h1 {
    margin-top: 20px;
    font-family: "lemon white";
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
  }

  .mug p {
    margin-top: 5px;
    font-family: "caviar dreams";
    font-size: 0.8rem;
    height: 4rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .mug img {
    display: flex;
    justify-content: center;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .price-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin-top: 10px;
    gap: 0.1rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .ri-star-fill {
    width: 20px;
    height: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ri-star-fill::before {
    width: auto;
    height: 100%;
    color: #ee737d;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price-stars h3 {
    font-family: "lemon white";
    font-size: 14px;
    border: 3px solid #ee737d;
    border-radius: 5%;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ee737d;
  }
}

@media (max-width: 1210px) {
  header h2 {
    font-family: "lemon white";
    position: absolute;
    left: 100px;
    top: 120px;
    font-size: 36px;
    color: white;
  }
  #best-selling-mugs {
    height: 2250px;
  }

  #mugs {
    flex-wrap: wrap;
  }
  .mug {
    background-color: white;
    height: 380px;
    width: 27%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .mug h1 {
    margin-top: 20px;
    font-family: "lemon white";
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 8%;
    margin-right: 8%;
  }

  .mug p {
    margin-top: 5px;
    font-family: "caviar dreams";
    font-size: 0.8rem;
    height: 4rem;
    margin-left: 8%;
    margin-right: 8%;
  }

  .mug img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 180px;
  }
  .price-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 85%;
    margin-top: 10px;
    gap: 0.1rem;
    margin-left: 8%;
    margin-right: 8%;
  }

  .ri-star-fill {
    width: 20px;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ri-star-fill::before {
    width: auto;
    height: 100%;
    color: #ee737d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }

  .price-stars h3 {
    font-family: "lemon white";
    font-size: 14px;
    border: 3px solid #ee737d;
    border-radius: 5%;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ee737d;
  }
}

@media (max-width: 940px) {
  #best-selling-mugs {
    height: 3200px;
  }
  #mugs {
    flex-wrap: wrap;
  }
  .mug {
    background-color: white;
    height: 380px;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .mug h1 {
    margin-top: 20px;
    font-family: "lemon white";
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 8%;
    margin-right: 8%;
  }

  .mug p {
    margin-top: 5px;
    font-family: "caviar dreams";
    font-size: 0.8rem;
    height: 4rem;
    margin-left: 8%;
    margin-right: 8%;
  }

  .mug img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 180px;
  }
  .price-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 85%;
    margin-top: 10px;
    gap: 0.1rem;
    margin-left: 8%;
    margin-right: 8%;
  }

  .ri-star-fill {
    width: 20px;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ri-star-fill::before {
    width: auto;
    height: 100%;
    color: #ee737d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }

  .price-stars h3 {
    font-family: "lemon white";
    font-size: 14px;
    border: 3px solid #ee737d;
    border-radius: 5%;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ee737d;
  }

  footer {
    width: 100%;
    height: 500px;
    background-color: #3c3755;
    padding: 100px 11% 90px;
  }

  #footer-div {
    background-color: #3c3755;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  #colorlib {
    font-family: "caviar dreams";
    color: white;
    width: 35%;
    margin-right: 20px;
  }

  .footer-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 180px;
    font-family: "caviar dreams";
    color: white;
    font-size: 14px;
  }

  .footer-row3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100px;
    font-family: "caviar dreams";
    color: white;
  }

  #colorlib h1 {
    font-size: 21px;
    margin-bottom: 14px;
  }

  #colorlib p {
    font-size: 11px;
    line-height: 18px;
  }

  #contact-us-div {
    position: absolute;
    top: 3680px;
    right: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #social-media {
    height: 40px;
    width: 120px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #social-media a img {
    height: 20px;
    width: auto;
  }

  footer h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family: "caviar dreams";
    color: white;
    margin-top: 20px;
    font-weight: 100;
  }

  #contact-us-btn {
    background-color: #ee737d;
  }

  .btn {
    display: inline-block;
    padding: 12px 30px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all 0.45s ease;
    margin-top: 5px;
    font-family: "lemon white";
    height: 40px;
  }
}

@media (max-width: 650px) {
  header h2 {
    font-family: "lemon white";
    position: absolute;
    left: 80px;
    top: 120px;
    font-size: 28px;
    color: white;
  }
  #best-selling-mugs {
    height: 5900px;
  }
  #mugs {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .mug {
    background-color: white;
    height: 360px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .mug h1 {
    margin-top: 20px;
    font-family: "lemon white";
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 8%;
    margin-right: 8%;
  }

  .mug p {
    margin-top: 5px;
    font-family: "caviar dreams";
    font-size: 0.8rem;
    height: 4rem;
    margin-left: 8%;
    margin-right: 8%;
  }

  .mug img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 180px;
  }
  .price-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 85%;
    margin-top: 10px;
    gap: 0.1rem;
    margin-left: 8%;
    margin-right: 8%;
  }

  .ri-star-fill {
    width: 20px;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ri-star-fill::before {
    width: auto;
    height: 100%;
    color: #ee737d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .price-stars h3 {
    font-family: "lemon white";
    font-size: 16px;
    border: 3px solid #ee737d;
    border-radius: 5%;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ee737d;
  }
  #contact-us-div {
    position: absolute;
    top: 6450px;
    right: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 140px;
  }

  #social-media {
    height: 40px;
    width: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #social-media a img {
    height: 15px;
    width: auto;
  }

  .btn {
    display: inline-block;
    padding: 8px 30px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all 0.45s ease;
    margin-top: 5px;
    font-family: "lemon white";
    height: 30px;
  }

  footer {
    width: 100%;
    height: 550px;
    background-color: #3c3755;
    padding: 100px 11% 90px;
  }

  #footer-div {
    background-color: #3c3755;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  .footer-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 180px;
    font-family: "caviar dreams";
    color: white;
    font-size: 11px;
  }

  .footer-row3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80px;
    font-family: "caviar dreams";
    color: white;
    font-size: 11px;
  }
}
